<footer>
        <div class="wrapper footer-wrapper">
        <div class="footer-section">
            <span>A propos</span>
            <p>Avec <em>Les mystères de Bourges</em>, nous vous proposons des jeux de piste sous forme de balades urbaines ponctuées d'énigmes. Conçus à Bourges, nos parcours s'appuient sur le patrimoine local berruyer afin de faire découvrir des endroits touristiques, connus ou non à tous les publics curieux d'apprendre en s'amusant.</p>
        </div>
        <div class="footer-section">
            <span>Tout ce qu'il faut savoir</span>
            <ul>
            <li><a href="nos-parcours-escape-game-bourges.html">Nos parcours</a></li>
            <li><a href="tarifs-escape-game-bourges.html">Tarifs</a></li>
            <li><a href="bon-cadeau-escape-game-bourges.html">Bon cadeau</a></li>
            <li><a href="notre-concept-escape-game-bourges.html">Concept</a></li>
            <li><a href="avis-escape-game-bourges.html">Avis de joueurs</a></li>
            <li><a href="faq-escape-game-bourges.html">Foire aux questions</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <span>En savoir plus</span>
            <ul>
            <li><a href="reservation-escape-game-bourges.html">Contact</a></li>
            <li><a href="histoire-escape-game-bourges.html">Notre histoire</a></li>
            <li><a href="presse-escape-game-bourges.html">Ils parlent de nous</a></li>
            <li><a href="nos-amis.html">Nos amis</a></li>
            <li><a href="politique-confidentialite.html">Politique de confidentialité</a></li>
            <li><a href="conditions-generales-CGU.html">CGU</a></li>
            <li><a href="mentions-legales.html">Mentions légales</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <span>Suivez-nous</span>
            <p><%= link_to "Facebook", 'https://www.facebook.com/lesmysteresdebourges' %></p>
            <p><%= link_to "Instagram", 'https://www.instagram.com/lesmysteresdebourges' %></p>
        </div>
    </div>
</footer>