<% content_for :meta_title, "Conditions générales de vente | #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, "Retrouvez les détails des conditions générales vente et d'utilisation de nos services. C'est vraiment pas la page la plus fun ..." %>

<header class="wrapper header-mobile header-home">
    <h1>Conditions générales de vente</h1>
</header>
<section class="wrapper wrapper-white">
    <h2>Article 1 : Application</h2>
    <p class="sub-title">Les présentes conditions générales de vente régissent les relations contractuelles entre :</p>
    <p class="sub-title">L’organisateur <em>Les mystères de Bourges</em> : entreprise individuelle immatriculée au Registre des Commerces et des Sociétés de Bourges sous le numéro SIRET : 877 533 216 00017 dont le siège social est situé à Bourges (18000) France.</p>
    <p class="sub-title"><em>Les mystères de Bourges</em> propose une offre de loisirs : jeux de piste/énigmes. Les jeux de piste sont des prestations encadrées par un animateur. Ces produits et services sont destinés aux particuliers, aux groupes, aux entreprises, aux associations et aux établissements scolaires.</p>
    <p class="sub-title">L’acheteur : toute personne physique ou morale souhaitant procéder à un achat via le site internet : www.lesmysteresdebourges.fr</p>
    
    <p class="sub-title">Le participant : toute personne physique ou morale participant aux prestations organisées par l’organisateur.</p>
    <p class="sub-title">Les présentes conditions générales de vente sont en vigueur à compter du 1er septembre 2019. L’inscription à des prestations encadrées de <em>Les mystères de Bourges</em> implique l’acceptation des présentes conditions générales par le souscripteur (acheteur et/ou participant), qui s’engage à informer chacun des participants de toutes les modalités.</p>
    <p class="sub-title"><em>Les mystères de Bourges</em> se réserve le droit de pouvoir modifier ses conditions générales de vente. Dans ce cas, les conditions applicables seront les conditions en vigueur à la date de la réservation ou à la date de la signature du devis.</p>
    
    <h2>Article 2 : Activité</h2>
    <p class="sub-title"><em>Les mystères de Bourges</em> a pour objet l’organisation et la commercialisation de jeux de piste, d’énigmes et d ‘enquête en groupes de 3 à 6 personnes (le nombre de participants peut évoluer en fonction de la demande de l’acheteur), organisés dans l’espace public de la ville de Bourges (18000) France.</p>
    
    <h2>Article 3 : Commandes et réservations</h2>
    <p class="sub-title">L’accès aux installations et services de <em>Les mystères de Bourges</em> se fait sur réservation. Pour cela, l’acheteur a recours aux possibilités suivantes : remplir le formulaire de réservation en ligne sur le site internet www.lesmysteresdebourges.fr, ou s´adresser directement à <em>Les mystères de Bourges</em> par mail à contact@lesmysteresdebourges.fr, par téléphone au 07 66 68 44 20 ou via les réseaux sociaux.</p>
    <p class="sub-title">La réservation est effectuée pour un jour et un horaire précis, et n’est valable que pour ce créneau horaire. La réservation s’effectue dans la limite des places disponibles. La réservation ne sera ferme et définitive qu’après réception par l’acheteur d’un e-mail de confirmation de <em>Les mystères de Bourges</em>.</p>
    <p class="sub-title">Les données enregistrées par <em>Les mystères de Bourges</em> via le formulaire de réservation constituent la preuve de la nature, du contenu et de la date de la commande. Celle-ci est archivée par <em>Les mystères de Bourges</em> dans les conditions et les délais légaux ; l’acheteur peut accéder à cet archivage en contactant <em>Les mystères de Bourges</em>.</p>
    <p class="sub-title">Les réservations sont interrompues 2 heures avant l’heure de départ du jeu.</p>

    <h2>Article 4 : Prix – Paiement</h2>
        <h3>4.1 - Prix</h3>
        <p class="sub-title">Les tarifs de <em>Les mystères de Bourges</em> sont indiqués sur le site internet www.lesmysteresdebourges.fr et sont en euros, toutes taxes comprises (TTC).</p>
        <p class="sub-title"><em>Les mystères de Bourges</em> se réserve le droit de modifier les prix figurant sur son site internet à tout moment.</p>
        <p class="sub-title">Dans tous les cas, la prestation sera facturée sur la base des tarifs en vigueur et mentionnés sur le site internet au moment de la réservation.</p>
        
        <h3>4.2 - Paiement</h3>
        <p class="sub-title">Le règlement d’une réservation s’effectue au comptant par carte bancaire ou en espèces. L’intégralité du montant est à régler au plus tard lors de la réalisation de la session.</p>

    <h2>Article 5 : Annulation</h2>
    <p class="sub-title">L’article 121-21-8 du Code de la Consommation ne prévoit pas de délais de rétractation pour la réservation d’activités de loisirs sur internet. Un report est toutefois possible jusqu’à une semaine avant la date de l’horaire initialement réservé.</p>
    <p class="sub-title">Une session n’est pas échangeable avec une autre. En cas d’annulation d’une session de la part de <em>Les mystères de Bourges</em>, l’échange sur une autre session sera proposé. <em>Les mystères de Bourges</em> s’efforcera de prévenir l’acheteur dans les meilleurs délais.</p>
    <p class="sub-title">En cas de retard du participant supérieur ou égal à 15 minutes sur la session réservée, <em>Les mystères de Bourges</em> se réserve le droit d’annuler cette session de jeu. Tout retard ou non présentation est considéré comme désistement.</p>

    <h2>Article 6 : Accès à l’activité et règlement intérieur</h2>
    <p class="sub-title">En fonction des prestations, chaque session a une durée de jeu définie et est organisée pour un groupe de 3 à 6 personnes. Le nombre de participants peut évoluer en fonction de la demande de l’acheteur.</p>
    <p class="sub-title">Il est impératif d’arriver à l’heure de votre réservation, sous peine d’annulation comme mentionné plus haut.</p>
    <p class="sub-title">Les groupes de participants doivent se présenter dans la mesure du possible au complet à l’heure prévue. Si l’équipe n’était pas au complet, <em>Les mystères de Bourges</em> impose, un minimum de 3 participants pour débuter la session sans que les autres places ne soient remboursées. Les sessions de jeu sont uniquement proposées en français.</p>
    <p class="sub-title">Les prestations de <em>Les mystères de Bourges</em> sont ouvertes à toute personne physique âgée de plus de 18 ans. Concernant les personnes mineures, la prestation est couverte par la responsabilité de représentant ou tuteur légal. <em>Les mystères de Bourges</em> se réserve le droit de demander une pièce d’identité en vue de contrôler l’âge des participants.</p>
    <p class="sub-title">Les joueurs seront amenés à manipuler des objets, il est strictement interdit de les casser ou de les détériorer. <em>Les mystères de Bourges</em> est propriétaire du matériel (sac et accessoires) mis à disposition durant la prestation. Le participant s’engage à restituer dans son intégralité, le matériel, à l’organisateur sur le lieu d’arrivée de la prestation. Dans le cas contraire, l’organisateur n’hésitera pas à faire appel aux autorités compétentes. L’organisateur se réserve le droit d’arrêter la prestation en cours si celle-ci dépasse le temps prévu à l’origine. Il peut donc demander aux participants de revenir au point de départ.</p>
    <p class="sub-title">La prestation peut inclure la prise d’un cliché de l’équipe comme photo souvenir. Cette photographie peut être diffusée au public sur nos réseaux sociaux sauf refus de votre part au moment de la prise du cliché.</p>
    <p class="sub-title">La participation aux missions proposées par <em>Les mystères de Bourges</em> implique l’acceptation sans réserve du présent règlement dans son intégralité. Vous pouvez adresser vos questions sur le présent règlement à contact@lesmysteresdebourges.fr.</p>

    <h2>Article 7 : Responsabilité</h2>
    <p class="sub-title">Le participant est conscient, étant donné le caractère spécifique de l’environnement urbain qu’il peut courir certains risques dus notamment à des circulations d’engins de différentes tailles et à vitesses variées. Il les assume en toute connaissance de cause et il doit se conformer aux règles de prudence ainsi que du code de la route et s’engage à suivre les conseils donnés par les professionnels.</p>
    <p class="sub-title"><em>Les mystères de Bourges</em> est assuré en responsabilité civile professionnelle pour les activités qui lui sont propres et sa responsabilité ne pourra être engagée pour les activités réservées auprès d’autres prestataires. <em>Les mystères de Bourges</em> ainsi que ses animateurs ne pourront être tenus responsables de la perte, du vol (y compris dans les véhicules) ou de la casse d’objets (ex : lunettes, appareils photos…) que les participants pourraient emmener avec eux durant l’activité et pouvant survenir au cours de l’activité.</p>
    <p class="sub-title"><em>Les mystères de Bourges</em> n´est pas responsable d´un éventuel accès limité ou empêché à un lieu ou à un objet concerné par une activité <em>Les mystères de Bourges</em>, ni d´un quelconque problème ou difficulté de compréhension des consignes, des règles du jeu ou des aides de jeu. Ainsi, dans le cadre des activités proposées, <em>Les mystères de Bourges</em> ne saurait être responsable de balises ou d’indices devenus inaccessibles par des travaux, des dégradations, une fermeture de l’espace public ou une manifestation sur la voie publique.</p>
    <p class="sub-title">Le participant est responsable du matériel qui lui a été prêté pour l’activité. <em>Les mystères de Bourges</em> ne pourra être tenu responsable des préjudices pouvant être causés par le matériel mis à disposition. En cas de vol ou de détérioration du matériel prêté, il peut être demandé au participant un dédommagement lié à l’usure ou un remboursement total du matériel.</p>

    <h2>Article 8 : Situations de handicap</h2>
    <p class="sub-title">L’acheteur et le participant préciseront à l’organisateur les nécessités pratiques selon le handicap dans les 24 heures après la réservation. Dans le cas où l’accès au jeu ne serait pas possible par manque d’infrastructure lié au parcours, la responsabilité de <em>Les mystères de Bourges</em> ne serait pas engagée.</p>

    <h2>Article 9 : Droit de propriété littéraire et artistique</h2>
    <p class="sub-title">Le site internet www.lesmysteresdebourges.fr, le nom <em>Les mystères de Bourges</em>, les parcours, services, produits et tout objet ou information qui est y sont attachés, en particulier les supports de jeu (carnet de route, cartes, énigmes, contenus visuels et textes, etc.), les idées et le concept sont la propriété intellectuelle de <em>Les mystères de Bourges</em>. Conformément aux lois régissant les droits de propriété littéraire et artistique, la reproduction, la représentation ou l’utilisation de tout ou partie des éléments composant ces jeux de piste, et notamment les énigmes, les questions et les supports, sont strictement interdites, sous peine de poursuites judiciaires.</p>

    <h2>Article 10 : Protection des données personnelles</h2>
    <p class="sub-title">En réservant une session sur le site web www.lesmysteresdebourges.fr, certaines données personnelles qui sont collectées sont indispensables pour assurer le bon traitement de la réservation. Ces données personnelles concernent une personne physique et sont communiquées volontairement.</p>
    <p class="sub-title">Aucune information personnelle de l’utilisateur du site en question n’est publiée, échangée, transférée, cédée ou vendue à l’insu de celui-ci.</p>
    <p class="sub-title">Seule l’hypothèse du rachat de <em>Les mystères de Bourges</em> et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu par la même obligation de conservation et de modifications des données vis-à-vis de l’utilisateur du site internet présent. L’utilisateur dispose d’un droit d’accès, de modification, de rectification et de suppression des données qui le concernent (article 38 et suivants la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés). Pour l’exercer, l’utilisateur peut adresser sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée à <em>Les mystères de Bourges</em> (contact@lesmysteresdebourges.fr).</p>

    <h2>Article 11 : Loi applicable et attribution de compétence</h2>
    <p class="sub-title">Les parties s’efforceront de résoudre à l’amiable les difficultés éventuelles pouvant survenir dans l’exécution du contrat. Si aucun accord amiable ne peut intervenir, tous les litiges relatifs à la validité, à l’interprétation et à l’exécution des présentes conditions générales de ventes seront régis exclusivement par les règles du droit français. Toutes les contestations, de quelque nature qu’elles soient, relèveront de la compétence des juridictions civiles et commerciales françaises, y compris statuant en matière de référé. Pour toutes contestations relatives aux ventes réalisées par <em>Les mystères de Bourges</em> et en vue de l’application ou de l’interprétation des présentes conditions générales de vente, et à défaut de résolution amiable, le lieu de juridiction compétant sera le tribunal de Bourges (18000).</p>

</section>