<section class="wrapper wrapper-white">
    <%= image_tag "escape-game-bourges-loisirs-patrimoine-seminaire-entreprise-professionelle-collegues.jpg", class:"card-cover-image" %>
    <h2>Une aventure <mark class="highlighted highlighted-red">originale</mark></h2>
    <p class="sub-title"> Depuis 2019, nous concevons nos parcours d'escape game urbain en plein air autour du patrimoine historique de la ville de Bourges; pour répondre à la question "Que faire à Bourges ?" en proposant une autre solution qu'une visite touristique traditionnelle et pour offrir un nouveau point de vue innovant sur le riche passé de la cité dans laquelle nous avons grandi.</p>
</section>