<% content_for :meta_title, "Contact | #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, "Comment nous contacter pour en savoir plus sur nos activités. Toutes les réponses sont sur cette page." %>


<header class="wrapper header-mobile header-home">
    <div class="half">
        <h1>Contactez-nous</h1>
        <p class="sub-title">Vous souhaitez un devis ou vous désirez simplement nous adresser une demande particulière ? Contactez-nous.</p>
                <ul class="bullet-point">
            <li><em>Par mail</em> à l'adresse contact@lesmysteresdebourges.fr</li>
            <li><em>Par téléphone</em> au 07 66 68 44 20</li>
            <li>sur <%= link_to 'notre page Facebook', 'https://www.facebook.com/lesmysteresdebourges' %></li>
            <li>sur <%= link_to 'notre compte Instagram', 'https://www.instagram.com/lesmysteresdebourges' %></li>
        </ul>
    </div>
</header>
