<header class="wrapper header-mobile header-home">
    <div class="half">
        <h1>Foire aux <mark class="highlighted highlighted-red">questions</mark></h1>
        <p class="sub-title">Vous avez des questions, nous avons les réponses. Voici quelques éléments pour répondre à celles que vous pourriez vous poser concernant nos jeux de piste.</p>
        <div class="ctas-container">
            <%= link_to 'Une autre question ? Contactez-nous', contact_path, class: "cta cta-primary", role:"button" %>
        </div>
    </div>
    <div class="half">
        <%= image_tag "escape-game-bourges-loisirs-famille-amis-activite-plein-air-evjf-patrimoine-5.jpg", class:"header-img", alt:"Une bourse en cuir avec des pièces de monnaie, pour le jeu Les Mystères de Bourges, escape game en plein air à Bourges" %>
    </div>
</header>