<header class="wrapper header-mobile header-home">
    <div class="half">
        <h1>Les tarifs de nos <mark class="highlighted highlighted-red">escape games en plein air</mark></h1>
        <p class="sub-title">
            Par ici la monnaie ! Vous retrouverez ici nos tarifs concernant les escape game urbains.
        </p>
        <div class="ctas-container">
            <%= link_to 'Réservez dès maintenant', new_inscription_booking_info_path, class: "cta cta-primary", role:"button" %>
        </div>
    </div>
    <div class="half">
        <%= image_tag "homepage-header.jpg", class:"header-img", alt:"Les mystères de Bourges, la meilleure activité de plein air à Bourges - Un escape game jeu de piste inédit !" %>
    </div>
</header>
