.simple-calendar {
    th {
        font-variation-settings: "wght" 700;
        padding: 1em 0;
    }
    .table {
        width: 100%;
        text-align: center;
    }
    .cta {
        margin-bottom: 16px;
    }
}