.legacy-form  {
    padding: 0 20px 2em 20px;
    strong {
        font-family: var(--title);
        display: block;
        margin: 0 auto 20px;
        max-width: 600px;
        font-size: 2em;
        line-height: 1.25em;
        color: var(--black);
        font-variation-settings: "wght" 700;
    }
    .mb-3 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 16px 0;
        min-height: 90px;
        label {
            font-size: 16px;
        }
        input, textarea {
            padding: 16px;
            margin-top: 8px;
            width: 100%;
            max-width: 414px;
            background: #f5f5f5;
            border: none;
        }
        input::placeholder {
            opacity: .5;
            font-style: italic;
        }
        select {
            border: none;
            max-width: 414px;
            appearance: none;
            width: 100%;
            padding: 16px;
            background: #f5f5f5;
            margin-top: 8px;;
        }
    }
    .date > div {
        display: flex;
        width: 100%;
        justify-content: space-between;
        select {
            width: 30%;
        }
    }
    input[type="submit"] {
        margin-top: 16px;
    }
}

// formulaire page de reservation temporaire !
#message {
    min-height: 160px;
}

// fin de CSS formulaire temporaire

fieldset {
    border: none;
}

input {
    font-size: var(--medium-paragraph);
    font-size: 1.1em;
}

* input, * textarea {
    box-shadow: none;
}

input[type="submit"], input[type="text"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media screen and (min-width: 900px) {
    .legacy-form strong {
        margin: 20px 0;
    }
}