* a {
  color:  var(--dark-blue);
  text-decoration: none;
}

.cta-link {
  font-family: var(--title);
  font-variation-settings: "wght" 700;
  font-size: 16px;
  font-size: var(--medium-link);
  cursor: pointer;
}

.cta-link, .cta-link:hover {
  color: var(--red);
}

.cta-blue-link, .cta-blue-link:hover {
  color: var(--night-blue);
}